CocosSharpGame4/CocosSharpGame4.Droid/obj/
CocosSharpGame4/ps/
CocosSharpGame4/CocosSharpGame4.iOS/packages.config
CocosSharpGame4/CocosSharpGame4.iOS/
CocosSharpGame4/CocosSharpGame4.Droid/bin/
CocosSharpGame4/CocosSharpGame4.Droid/Assets/Content/Images - копия/
